In [5]:
%reset
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
from numpy import random
import datetime

import functools
import seaborn as sns
import os

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

In [2]:
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

/root/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
def shift_df_single_variate(orig_dataframe, column_to_shift, shift_val):
    shifted_df = pd.DataFrame()
    for act_shift in range(shift_val):
        shifted_df['t-{0}'.format(act_shift + 1)] = orig_dataframe.shift(act_shift+1)[column_to_shift]
    shifted_df['result'] = orig_dataframe[column_to_shift]
    return shifted_df

In [129]:
house_data = 'house_1_aggr_sum.csv'

base_df = pd.read_table(house_data,
                       parse_dates=True,
                       header=0,
                       index_col=0,
                       sep=",",
                       decimal=".")

base_df.head(2)

,00:00,00:15,00:30,00:45,01:00,01:15,01:30,01:45,02:00,02:15,...,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45
2011-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,290.310924,351.805907,199.411765,259.181435,1040.803419,1846.056962,1294.960084,1043.364407,435.647059,322.926471
2011-04-19,363.923404,676.718884,1312.106667,1320.457207,478.692797,878.734043,1397.449782,345.457627,538.701681,188.683544,...,626.240426,308.789030,298.710084,309.265823,486.987395,304.666667,0.000000,0.000000,0.000000,0.000000

In [134]:
path = 'house_1_dists/'
house_1_files = [os.path.join(path, file) for file in os.listdir(path) if os.path.isfile(os.path.join(path, file))]

house_1_files = ['house_1_dists/5refrigerator.csv',
                 'house_1_dists/9lighting.csv',
                 'house_1_dists/20washer_dryer.csv',
                 'house_1_dists/7kitchen_outlets.csv',
                 'house_1_dists/6dishwaser.csv']

## combined dataframes

In [182]:
ml_frames = []
for file_name in house_1_files:
    act_frame = base_df.copy()
    channel_frame = pd.read_table(file_name,
                       parse_dates=True,
                       header=0,
                       index_col=0,
                       sep=",",
                       decimal=".")
    act_frame['output'] = channel_frame.sum(1)
    act_frame.dropna(inplace=True)
    ml_frames.append(act_frame)

In [136]:
test_frame = ml_frames[0]

## Learning the model

In [137]:
models = []

In [184]:
from sklearn import svm
from sklearn import linear_model
from sklearn.linear_model import ARDRegression, LinearRegression
for ml_frame in ml_frames:
    x_orig = np.array(test_frame.drop('output', axis=1))
    y_orig = np.array(test_frame['output'])
    X_train, X_test, y_train, y_test = cross_validation.train_test_split(x_orig, y_orig, test_size=0.3)
    X_train, X_test = x_orig[:train_len], x_orig[train_len:]
    y_train, y_test = y_orig[:train_len], y_orig[train_len:]
    #model = ARDRegression(compute_score=True, normalize=True)
    model = LinearRegression()
    model.fit(X_train, y_train)
    print(model.score(X_test, y_test))
    models.append(model)

-22.0859855581
-22.0859855581
-22.0859855581
-22.0859855581
-22.0859855581